@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close-o.css');

:root {
    --main-font:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    font-family: var(--main-font);
    position: relative;
}


/* Inicio Header */

#header{
    top: 0;
    width: 100%;
    border-bottom:  2px solid #ddd;
}

.page-title{
    padding: 1%;
    border-bottom:  2px solid #ddd;
}

#title{
    font-size: 30px;
    font-weight: bold;
}

.header-content{
    width: 100vw;
    padding: 1.5% 1%;
    display: flex;
    gap: 25%;
}

.patient-information{
    display: flex;
    gap: 1.5rem;
}

.patient-img{
    display: flex;
    width: 4.0625rem;
    height: 4.0625rem;
    align-items: center;
    justify-content: center;
    background-color: #e3effc;
}

.patient-information img{
    width: 3rem;
    height: 3rem;
}

.patient-data h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.patient-data h3{
    font-size: 1.2rem;
    font-weight: 500;
    color: #807a7a;
}



/* Inicio Main */
.main-content{
    width: 100vw;
    padding: 1.5% 2.3%;
}


.search-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
}

.search-content {
    display: flex;
    flex-direction: column; 
    gap: 0.8rem;   
}

.main-label{
    font-size: 1.1rem;
    color: #807a7a;
}

.search-input{
    width: 22vw;
    border: none;
    outline: none;
    border-bottom: 2px solid #a2abb3;
    background: #eff1f1;
    padding: 0.9rem;
    font-size: 0.95rem;
}

#search-symptom{
    background: url(https://cdn-icons-png.flaticon.com/512/93/93642.png) no-repeat 0.8rem 0.8rem;
    background-color: #eff1f1;
    background-size: 1.25rem;
    padding-left: 2.5rem;
}

.add-symptom {
    display: flex;
    margin-top: 1.5%;
    background: none;
}

.add-symptom-btn{
    background: none;
    border: none;
    padding-top: 10px;
}

#add-img{
    width: 1.5rem;
    height: 1.5rem;
}

.include {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .include-title{
    padding-left: 3%;
  }
  .include-class {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    padding-right: 1.2rem;
    height: 9.375rem;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 2;
    border-radius: 4px;
  }
  .btn-close-include{
    position: absolute;
    right: .375rem;
    margin-top: .4rem;
    float: right;
    border: none;
    outline: none;
    background-color: white;
    z-index: 3;
  }

.include-symptom-text{
    padding-top: 1.5%;
    padding-left: 3%;
    font-size: 1.1rem;
    color: #807a7a;
}

  .confirm-include {
    margin-left:26.875rem;
    background-color: #f7eb0a;
    text-align: center;
    float: right;
    width: 160px;
    height: 40px;
    font-size: 0.875rem;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
  }
  
.tables {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-table {
    width: 100%;
    padding-top: 2%;
}

#substance-table{
    padding-bottom: 5%;
}

.substance-detail-table{
    width: 90%;
}

table {
    width: 70%;
    border-collapse: collapse;
}

.pagination {
    float: right;
    padding-top: 0.5%;
    margin-right: 30%;
    display: flex;
    gap: 0.3rem;
}


.pagination-button{
    font-family: var(--main-font);
    width: 4.688rem;
    float: right;
    align-items: center;
    background-color: #fded10;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #044583;
    cursor: pointer;
}


table, td, th {
    border-bottom: 1px solid #ddd;
    padding: 5px 8px 8px 0px;
}

th {
    padding-left: 1.5%;
    text-align: left;
    background-color: #f0f0e9;
}

table td{
    padding-left: 1.5%;
    text-align: left;
    border-bottom: 1px solid #ddd;
} 

.btn-inspect{
    float: right;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #4b4a4a;
    font-weight: bold;
    cursor: pointer;
}

.btn-remove {
    float: right;
    background: none;
    border: none;
}

#img-btn-remove {
    width: 1.5rem;
}

#error-added-symptom{
    z-index: 3;
}

.repertorization {
    top: 0;
    bottom: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .repertorization-title{
    padding-left: 3%;
  }
  .repertorization-class {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    height: 9.375rem;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 2;
    border-radius: 4px;
  }
  .btn-close-repertorization{
    position: absolute;
    right: .375rem;
    margin-top: .4rem;
    float: right;
    border: none;
    outline: none;
    background-color: white;
    z-index: 3;
  }

.repertorization-symptom-text{
    padding-top: 1.5%;
    padding-left: 3%;
    font-size: 1.1rem;
    color: #807a7a;
}

  .confirm-repertorization {
    margin-left:26.875rem;
    background-color: #f7eb0a;
    text-align: center;
    float: right;
    width: 160px;
    height: 40px;
    font-size: 0.875rem;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
  }

.substance-detail {
    top: 0;
    bottom: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.substance-detail-class{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 60%;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 2;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
}

.btn-close-substance-detail{
    position: absolute;
    right: .375rem;
    margin-top: .4rem;
    float: right;
    border: none;
    outline: none;
    background-color: white;
    z-index: 3;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

.hidden {
    display: none;
  }
/* Fim do Main */



/* Inicio do Footer */

#footer{
    display: flex;
    padding-top: 1.5%;
    justify-content: end;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #ddd;
}


.footer-content{
    display: flex; 
    color: #fff;
    gap: 0.9rem;
    float: right;
    padding-right: 1.5%;
    padding-bottom: 0.5%;
}

.repertorizar{
    background-color: #f7eb0a;
    text-align: center;
    width: 14.375rem;
    padding: 0.781rem 0;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    text-decoration: none;
    color: #044583;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.menu-principal{
    width: 13.75rem;
    padding: 0.781rem 0;
    border: 1px solid #d8e2eb;
    border-radius: 5px;
    background: #b7d1e6;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #044583;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(131, 128, 128);
}

/* Fim do Footer */

@media screen and (max-width: 870px) {
    .header-input{
        min-width: 250px;
    }
} 