:root {
    --main-font:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 10px solid #ddd;
    font-family: var(--main-font);
}


/* Inicio Header */

#header{
    top: 0;
    width: 100%;
    border-bottom:  2px solid #ddd;
}

.page-title{
    padding: 1%;
    border-bottom:  2px solid #ddd;
}

#title{
    font-size: 30px;
    font-weight: bold;
}

.header-content{
    width: 100vw;
    padding: 1.5% 1%;
}

.header-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.input-form{
    display: flex;
    flex-direction: column; 
    gap: 10px;   
}

.header-label{
    font-size: 1.1rem;
    color: #807a7a;
}

.header-input{
    width: 22vw;
    border: none;
    outline: none;
    border-bottom: 2px solid #a2abb3;
    background: #eff1f1;
    padding: 15px;
    font-size: 1rem;
}

.header-input:focus{
    border-bottom: 2px solid #7a7a7a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../assets/icon-date.png) no-repeat;
    width: 30px;
    /* height: 30px; */
    background-position: center;
    background-size: 100%;
}


/* Inicio Main */
.main-content{
    width: 100vw;
    padding: 1.5% 2.3%;
}


.search-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
}

.search-content {
    display: flex;
    flex-direction: column; 
    gap: 0.8rem;   
}

.main-label{
    font-size: 1.1rem;
    color: #807a7a;
}

.search-input{
    width: 22vw;
    border: none;
    outline: none;
    border-bottom: 2px solid #a2abb3;
    background: #eff1f1;
    padding: 0.9rem;
    font-size: 0.95rem;
}

#search-symptom-label{
    margin-left: 4%;
}

#search-symptom{
    margin-left: 4%;
}

.add-symptom {
    display: flex;
    margin-top: 1.5%;
    background: none;
}

.add-symptom-btn{
    background: none;
    border: none;
    padding-top: 10px;
}

.material-symbols-outlined{
    color: rgb(70, 161, 204);
}

.symptoms {
    width: 100%;
    padding-top: 2%;
}

.symptom-table {
    border-collapse: collapse;
}

table, td, th {
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 8px 0px;
}

th {
    text-align: left;
    background-color: #f0f0e9;
}

td{
    text-align: left;
} 
/* Fim do Main */



/* Inicio do Footer */

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top:  2px solid #ddd;
}


.footer-content{
    padding-top: 2%;
    display: flex; 
    color: #fff;
    gap: 15px;
    text-align: center;
    justify-content: space-between; 
    float: right;
    margin-right:2%;
    padding-bottom: 2%;
}

.repertorizar{
    background-color: #f7eb0a;
    text-align: center;
    width: 230px;
    padding: 12.5px 0;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.menu-principal{
    width: 220px;
    padding: 12.5px 0;
    border: 1px solid #d8e2eb;
    border-radius: 5px;
    background: #b7d1e6;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #044583;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(131, 128, 128);
}

/* Fim do Footer */

@media screen and (max-width: 870px) {
    .header-input{
        min-width: 250px;
    }
} 