*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    border: 10px solid #ddd;
    overflow:hidden;
}

.apresentacao-options{
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-link-options{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}


.options-links{
    background-color: #f7eb0a;
    width: 480px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
}