*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 10px solid #ddd;
    font-family: 'Montserrat', sans-serif;
}


/* Inicio Header */

#header{
    top: 0;
    width: 100%;
    border-bottom:  2px solid #ddd;
}

.page-title{
    padding: 1%;
    border-bottom:  2px solid #ddd;
}

#title{
    font-size: 30px;
    font-weight: bold;
}

.header-content{
    width: 100vw;
    padding: 1.5% 1%;
}

.header-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.input-form{
    display: flex;
    flex-direction: column; 
    gap: 10px;   
}

.header-label{
    font-size: 1.1rem;
    color: #807a7a;
}

.header-input{
    width: 22vw;
    border: none;
    outline: none;
    border-bottom: 2px solid #a2abb3;
    background: #eff1f1;
    padding: 15px;
}

.header-input:focus{
    border-bottom: 2px solid #7a7a7a;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(../assets/icon-date.png) no-repeat;
    width: 30px;
    /* height: 30px; */
    background-position: center;
    background-size: 100%;
}
/* Inicio do Footer */

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top:  2px solid #ddd;
}


.footer-content{
    padding-top: 2%;
    display: flex; 
    color: #fff;
    gap: 15px;
    text-align: center;
    justify-content: space-between; 
    float: right;
    margin-right:2%;
    padding-bottom: 2%;
}

.repertorizar{
    background-color: #f7eb0a;
    text-align: center;
    width: 230px;
    padding: 12.5px 0;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.menu-principal{
    width: 220px;
    padding: 12.5px 0;
    border: 1px solid #d8e2eb;
    border-radius: 5px;
    background: #b7d1e6;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #044583;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgb(131, 128, 128);
    font-family: 'Montserrat', sans-serif;
}

/* Fim do Footer */

@media screen and (max-width: 870px) {
    .header-input{
        min-width: 250px;
    }
} 