@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close-o.css');
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border: 10px solid #ddd;
    overflow:hidden;
    font-family: 'Quicksand', sans-serif;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top:  2px solid #ddd;
 
  }

.footer-content{
    padding-top: 20px;
    display: flex; 
    color: #fff;
    gap: 15px;
    text-align: center;
    justify-content: space-between; 
    float: right;
    margin-right:2%;
    padding-bottom: 14px;
}

.footer-sair{
    background-color: #f7eb0a;
    text-align: center;
    width: 78px;
    padding: 14.5px 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.footer-button{
    background-color: #f7eb0a;
    text-align: center;
    width: 260px;
    padding: 12.5px 0;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

table, td, th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

.substancias-apresentacao{
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 43%;
    border-top: 5px solid #ddd;

}

.substancias-apresentacao-table-table{
    border-collapse: collapse;
    width: 53%;
  }

  .td-button{
    background-color: white;
    cursor: pointer;
    text-align: end;
  }

.btn {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
  }

.fa{
    font-size: 20px;
    color: #c5c5c5;
    margin-left: 15px;
    margin-right: 10px;
  }



.substancias-apresentacao-table-head{
    text-align: left;
    background-color: #f0f0e9;

}

.substancias-apresentacao-table-content{
    text-align: left;
} 


.pesquisa-substancia{
    border-radius: 10px;
    margin-left: 3%;
    padding-bottom: 50px;
}

.pesquisa-substancia-content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pesquisa-substancia-input {
    background: url(https://cdn-icons-png.flaticon.com/512/93/93642.png) no-repeat 10px 10px;
    background-color: #ddd;
    padding-left: 25px;
    background-size: 20px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 8px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    text-indent: 30px;
    color: black;
    outline: none;
    box-shadow: 0 0 0.3rem 0 rgb(131, 128, 128);
  }
  
  .pesquisa-substancia-label{
    font-size: 15px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #807a7a
    ;
  }
  .pesquisa-substancia-inputs{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .pesquisa-substancia-button {
    width: 150px;
    height: 38px;
    bottom: auto;
    border: 1px solid #d8e2eb;
    border-radius: 5px;
    background: #d8e2eb;
    text-align: center;
    font-weight: 700;
    color: #4988c4;
    cursor: pointer;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 72px;
    box-shadow: 0 0 0.3rem 0 rgb(131, 128, 128);
  }

.prevButton{
    background-color: #f7eb0a;
    text-align: center;
    width: 75px;
    padding: 12.5px 0;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    color: blue;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 0.5%;
    box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}
  
.nextButton{
  background-color: #f7eb0a;
  text-align: center;
  width: 75px;
  padding: 12.5px 0;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  text-decoration: none;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  padding: 20px;
  height: 100px;
  position: absolute;
  margin-left: 27%;
  top: 35%;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 2;
}



.modal-text{
  font-size: 13.5px;
  font-weight: 600;
  color: #807a7a;
  padding: 15px;
}

.modal-title{ 
  font-weight: 600;
  margin-left: 10px;
}

.modal .flex{
  display: flex;
  position: absolute;
  right: 1rem;
  top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.btn-close {
  float: right;
  border: none;
  outline: none;
  background-color: white;
}

.btn-confirm{
  background-color: #f7eb0a;
  text-align: center;
  float: right;
  width: 160px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  text-decoration: none;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}


.substance-name{
  background-color: #f3f1f1;
  background-size: 20px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 8px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  color: black;
  outline: none;
  box-shadow: 0 0 0.3rem 0 rgb(219, 219, 219);
}
.substance-abreviation{
  background-color: #f3f1f1;
  margin-left: 16px;
  background-size: 20px;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 8px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  color: black;
  outline: none;
  box-shadow: 0 0 0.3rem 0 rgb(219, 219, 219);
}

.label-substance-name{
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.label-substance-abreviation{
  padding-left: 190px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.include {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding: 0 20px;
  height: 300px;
  position: absolute;
  margin-left: 27%;
  top: 25%;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 2;
  border-radius: 4px;
}
.btn-close-include{
  position: absolute;
  right: 1rem;
  margin-top: .2rem;
}
.btn-close-include {
  float: right;
  border: none;
  outline: none;
  background-color: white;
}

.btn-save{
  margin-left:440px;
  background-color: #f7eb0a;
  text-align: center;
  float: right;
  margin-top:35%;
  width: 160px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  text-decoration: none;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 0.3rem 0 rgb(155, 153, 153);
}

.modal-forms{
  position: absolute;
  margin-bottom: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}