<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pesquisa_paciente.css">
    <title>TCC</title>
</head>
<body>
    <header></header>
    <main>
        <div class="search-patient">
            <div class="search-patient-content">
                <form action="" class="search-patient-form">
                    <div class="input-form">
                        <label for="child-name" class="header-label">Nome da Criança</label>
                        <input type="text" class="header-input" id="child-name">
                    </div>
                    <div class="form-links">
                        <a href="../components/repertorizacao_options.html" class="back">Voltar</a>
                        <a href="../components/about_patient.html" class="confirm">Confirmar</a>
                    </div>
                </form>
            </div>
        </div>   
    </main>
    <footer></footer>
</body>
</html>