<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/repertorizacao.css">
    <title>TCC</title>
</head>
<body>
    <header id="header">
        <div class="page-title">
            <h1 id="title">PACIENTE</h1>
        </div>
        <div class="header-content">
            <form class="header-form">
                <label for="child-name" class="header-label">Nome da Criança</label>
                <label for="mother-name" class="header-label">Nome da Mãe</label>
                <label for="birthday" class="header-label">Nascimento</label>
                <br>
                <input type="text" class="header-input" id="child-name">
                <input type="text" class="header-input" id="mother-name">
                <input type="date" class="header-input" id="birthday">
            </form>
        </div>
    </header>
    <main>
        <div class="search-content">
            <label for="search-category">Categoria</label>
            <label for="search-symptom">Sintoma</label>
            <br>
            <select name="search-category" id="search-category">
                <option value="category1">Categoria 1</option>
                <option value="category2">Categoria 2</option>
                <option value="category3">Categoria 3</option>
                <option value="category4">Categoria 4</option>
            </select>
            <input type="text" class="search-symptom">
        </div>
        <div class="symptoms">
            <table class="symptom-table">
                <thead>
                    <tr>
                        <th>CATEGORIA</th>
                        <th>SUB CATEGORIA</th>
                        <th>NATUREZA</th>
                        <th>PESO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Categoria 1</td>
                        <td>Sub Categoria 1</td>
                        <td>Natureza 1</td>
                        <td>Peso 1</td>
                        <td><button class="btn-remove">X</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer id="footer">
        <div class="footer-content">
            <a href="index.html" class="menu-principal">MENU PRINCIPAL</a>
            <button class="repertorizar">REPERTORIZAR</button>
        </div>
    </footer>
</body>
</html>