<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/repertorizacao.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>TCC</title>
</head>

<body>
    <header id="header">
        <div class="alert alert-danger hidden" role="alert" id="error-added-symptom">
          </div>
        <div class="page-title">
            <h1 id="title">PACIENTE</h1>
        </div>
        <div class="header-content">
            <form class="header-form needs-validation" novalidate>
                <div class="input-form">
                    <label for="child-name" class="header-label">Nome da Criança</label>
                    <input type="text" class="header-input" id="child-name" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Insira o nome da Criança.
                    </div>
                </div>
                <div class="input-form">
                    <label for="mother-name" class="header-label">Nome da Mãe</label>
                    <input type="text" class="header-input" id="mother-name"  aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Insira o nome da Mãe.
                    </div>
                </div>
                <div class="input-form">
                    <label for="birthday" class="header-label">Nascimento</label>
                    <input type="date" class="header-input" id="birthday" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Insira a Data de Nascimento.
                    </div>
                </div>
            </form>
        </div>
    </header>
    <main class="main-content">
        <div class="search-contents">
            <div class="search-content">
                <label for="search-symptom" class="main-label" id="search-symptom-label">Sintoma</label>
                <input type="search" class="search-input" id="search-symptom">
            </div>
            <div class="search-content">
                <label for="opcoes" class="main-label">Categoria</label>
                <input type="search" list="opcoes-list" id="opcoes" class="search-input">
                <datalist id="opcoes-list"></datalist>
            </div>
            <div class="add-symptom">
                <button class="add-symptom-btn">
                    <span id="add-btn"><img src="../assets/add.png" alt="add button" id="add-img"></span>
                </button>
            </div>
        </div>
        <section class="include hidden">
            <div class="include-class">
                <div class="include-close-button">
                    <button class="btn-close-include"><i class="gg-close-o"></i></button>
                </div>
                <div class="include-content">
                    <h2 class="include-title"><strong>Inclusão de Sintoma</strong></h2>
                </div>
                <div class="include-symptom-text">
                    <p>Confima a inclusao de sintoma para repertorização?</p>
                </div>
                    <button class="confirm-include">CONFIRMAR</button>
            </div>
        </section>
        <div class="symptoms">
            <table class="symptom-table">
                <thead>
                    <tr>
                        <th>CATEGORIA</th>
                        <th>SUB CATEGORIA</th>
                        <th>NATUREZA</th>
                        <th>PESO</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div class="pagination">
                <button id="prevButton" class="pagination-button">Anterior</button> 
                <button id="nextButton" class="pagination-button">Próximo</button>
            </div>
        </div>
        <section class="repertorization hidden">
            <div class="repertorization-class">
                <div class="repertorization-close-button">
                    <button class="btn-close-repertorization"><i class="gg-close-o"></i></button>
                </div>
                <div class="repertorization-content">
                    <h2 class="repertorization-title"><strong>Repertorizar</strong></h2>
                </div>
                <div class="repertorization-symptom-text">
                    <p>Confima a ação de repertorização?</p>
                </div>
                    <button class="confirm-repertorization">CONFIRMAR</button>
            </div>
        </section>
        <div class="overlay hidden"></div>
    </main>
    <footer id="footer">
        <div class="footer-content">
            <a href="../index.html" class="menu-principal">MENU PRINCIPAL</a>
            <button class="repertorizar">REPERTORIZAR</button>
        </div>
    </footer>
    <script src="../js/repertorizacao/repertorizacao.js"></script>
</body>

</html>