<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/repertorizacao_options.css" />
    <title>TCC</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="apresentacao-options">
        <div class="apresentacao-link-options">
            <a href="repertorizacao.html" class="options-links">REALIZAR REPERTORIZAÇÃO</a>
            <a href="see_patient" class="options-links">VIZUALIZAR PACIENTE</a>
            <a href="index.html" class="options-links">MENU PRINCIPAL</a>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
